<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../static/thumbnail.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gamja+Flower&display=swap" rel="stylesheet">
    <style>*{font-family: 'Gamja Flower', cursive;}</style>

    <title>thumbnail</title>
  </head>
  <body>
    <div class="story1">
      <br>
      <center><img src="../static/sorce/동화.png" 
        style="border: 3px solid gold;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -khtml-border-radius: 10px;
        -webkit-border-radius: 10px;"
        class="card-img-top" width ="300px"></center>
        <div>
          <center>
            <p style ="font-size:22px; color:rgb(137, 180, 255)">#용사 #공주 #마왕 #동그리</p>
            <button class="butn" onclick="window.location.href='/fairytail/adventure'">모험</button>
          </center>
        </div>
    </div>
    <div class="story2">
      <br>
      <center><img src="../static/sorce/동물.png" 
        style="border: 3px solid gold;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -khtml-border-radius: 10px;
        -webkit-border-radius: 10px;"
        class="card-img-top" width ="300px"></center>
        <div>
          <center>
            <p style ="font-size:22px; color:rgb(137, 180, 255)">#기린 #원숭이 #고래 #코알라#동그리</p>
            <button class="butn" onclick="location.href='index.html'">동물</button>
          </center>
        </div>
    </div>
    <div class="story3">
      <br>
      <center><img src="../static/sorce/마법소녀.png" 
        style="border: 3px solid gold;
        border-radius: 10px;
        -moz-border-radius: 10px;
        -khtml-border-radius: 10px;
        -webkit-border-radius: 10px;"
        class="card-img-top" width ="300px"></center>
        <div>
          <center>
            <p style ="font-size:22px; color:rgb(137, 180, 255)">#뾰로롱 #변신 #마법 #동그리</p>
            <button class="butn" onclick="location.href='index.html'">마법소녀</button>
          </center>
        </div>
    </div>
  </body>
</html>